filelock==3.16.1
fsspec==2024.9.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==3.0.1
mpmath==1.3.0
networkx==3.4.1
numpy==2.1.2
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
scikit-learn==1.5.2
scipy==1.14.1
setuptools==75.1.0
six==1.16.0
sympy==1.13.3
threadpoolctl==3.5.0
torch==2.2.2
typing_extensions==4.12.2
tzdata==2024.2
wheel==0.44.0
